{% extends "baseadmin.html" %}

{% block content %}

<!-- EASY AUTOCOMPLETE IMPORT-->
<!-- JS file -->
<script src="{{ url_for('static', filename='admin/js/jquery.easy-autocomplete.min.js') }}"></script>

<!-- CSS file -->
<link rel="stylesheet" href="{{ url_for('static', filename='admin/css/easy-autocomplete.min.css') }}">

<!-- Additional CSS Themes file - not required-->
<link rel="stylesheet" href="{{ url_for('static', filename='admin/css/easy-autocomplete.themes.min.css') }}">

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                        <i class="fas fa-user"></i>
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Settings
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
            <h2>
                Tambah Lagu
            </h2>
            <form action="{{ url_for('addsong') }}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm">
                            <label for="song_name">
                                <h5>Nama Lagu</h5>
                            </label>
                            <input type="text" class="form-control" id="song_name" name="song_name"
                                placeholder="Masukkan nama lagu">
                            <br>
                            <input type="text" class="form-control" id="song_artist" name="song_artist"
                                placeholder="Masukkan nama artis">
                            <br>
                            <input type="text" class="form-control" id="song_mood" name="song_mood"
                                placeholder="sleep,depressed,relax,stress,dll">
                            <br>
                            <input type="text" class="form-control" id="song_duration" name="song_duration"
                                placeholder="Masukkan durasi dalam detik! (contoh 10 menit=600)">
                            <br>
                            <input type="file" accept=".mp3" id="song_file" name="song_file"></input>
                            <br>

                        </div>
                    </div>
                </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>

        </form>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
{% endblock %}