{% extends "basehome.html" %}

{% block content %}
<div class="main">
    <div class="jumbotron firsttype">
        <div class="container">
            <div class="row" style="padding-top: 10px;">
                <div class="col-sm justify-content-center align-self-center">
                    <h1 class="display-4">Ganti Password</h1>
                    {% if session['messages'] == 'pass' %}
                    <p class="lead">Sukses mengganti password! Silahkan login lagi.</p>
                    {% elif not session['messages'] %}
                    <p class="lead">Ketik password baru kamu</p>
                    <form action="{{ url_for('change_password_process') }}" method="POST">
                        <input type="password" name="new_password">
                        <input type="password" name="new_password_confirm">
                        <input type="submit" class="btn btn-outline-primary" name="submit">
                    </form>
                    {% elif session['messages'] != 'pass' %}
                    <p class="lead">{ session['messages'] }</p>
                    {% else %}
                    <p class="lead">Error, silahkan hubungi administrator</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}